$text-01: #171a1f;
$text-02: #71747a;
$text-03: #9d9fa3;
$text-04: #c8c9cc;
$text-05: #fffafa;

$base-01: #ffffff;
$base-02: #f2f3f5;
$base-03: #c9ccd1;

$base-hover-03: #a9aeb8;

$primary-01: #248bf2;
$primary-02: #f2f3f5;

$positive-01: #40b855;
$negative-01: #f23051;
