{
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "crlf",
  "semi": false,
  "printWidth": 100,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "**/*.html",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "**/*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
