<div class="start-page">
  <main class="main">
    <svg-icon svgClass="logo" src="/assets/svg/logo.svg"></svg-icon>
    <h1 class="heading">Openland</h1>
    <p class="description">Modern social network built for you, not advertisers</p>
    <button appButton size="lg" class="sign-in" routerLink="/auth/login">
      Continue with existing account
    </button>
    <button appButton appearance="secondary" size="lg" class="register" routerLink="/auth/register">
      Continue with new account
    </button>
  </main>
</div>
