@mixin center-left() {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin center-top() {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin center-all() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fullsize($position: absolute, $mode: height) {
  position: $position;
  top: 0;
  left: 0;

  @if ($mode == height) {
    width: 100%;
    height: 100%;
  }

  @if ($mode == inset) {
    bottom: 0;
    right: 0;
  }
}

@mixin clear-button() {
  appearance: none;
  padding: 0;
  border: 0;
  background: none;
  font-size: inherit;
  line-height: inherit;
}

@mixin clear-input() {
  padding: 0;
  border: 0;
  border-radius: inherit;
  background: none;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  caret-color: currentColor;
  outline: none;
  appearance: none;
  word-break: keep-all;
  -webkit-text-fill-color: currentColor;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border-radius: inherit;
    -webkit-text-fill-color: inherit !important;
    color: inherit !important;
    background-color: transparent !important;
  }
}

@mixin transition($param, $speed: 300ms) {
  transition-property: $param;
  transition-duration: $speed;
  transition-timing-function: ease-in-out;
}

@mixin gradient($start-color, $end-color, $angle: 45deg) {
  background-image: linear-gradient($angle, $start-color 0%, $end-color 100%);
}

@mixin text-overflow() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin contrast-background($background) {
  background: $background;
  color: contrast($background, #333, #fff);
}

@mixin blurred-background($color: #fff) {
  background: rgba($color, 70%);
  backdrop-filter: blur(0.4375rem);
}

@mixin sr-only() {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
